In [ ]:
import pandas as pd
from isharp.datahub.broker_client.remote_proxy import BrokerConnectionPool
from  isharp.datahub.broker_client.client_utils import mtx_headers_as_dataframe as to_df
import quandl
display("hello")

ModuleNotFoundError: No module named 'quandl'

In [ ]:
from isharp.datahub.broker_client.remote_proxy import BrokerConnectionPool
from  isharp.datahub.broker_client.client_utils import mtx_headers_as_dataframe as to_df
with BrokerConnectionPool() as broker:
    mtx = broker.checkout("file://localhost:5672/file_name_1.csv?format=CSV")
    display(mtx.content)
    broker.release(mtx)
    display(to_df(broker.list("localhost:5672")))
    apple =broker.checkout("arctic://localhost:5672/isharp/AAPL")
    display(apple.content)
    release(apple)

    Unnamed: 0   a   b   c
0   2019-05-20   0   0   0
1   2019-05-21   1   1   1
2   2019-05-22   2   2   2
3   2019-05-23   3   3   3
4   2019-05-24   4   4   4
5   2019-05-25   5   5   5
6   2019-05-26   6   6   6
7   2019-05-27   7   7   7
8   2019-05-28   8   8   8
9   2019-05-29   9   9   9
10  2019-05-30  10  10  10

,name,storage method,path,mem style,description
0,file_name_1.csv,file,0,MemStyles.DATA_FRAME,description of file_name_1.csv
1,file_name_2.csv,file,1,MemStyles.DATA_FRAME,description of file_name_2.csv
2,file_name_1.csv,file,0,MemStyles.DATA_FRAME,description of file_name_1.csv
3,file_name_2.csv,file,1,MemStyles.DATA_FRAME,description of file_name_2.csv
4,file_name_1.csv,file,0,MemStyles.DATA_FRAME,description of file_name_1.csv
5,file_name_2.csv,file,1,MemStyles.DATA_FRAME,description of file_name_2.csv
6,file_name_1.csv,file,0,MemStyles.DATA_FRAME,description of file_name_1.csv
7,file_name_2.csv,file,1,MemStyles.DATA_FRAME,description of file_name_2.csv
8,file_name_1.csv,file,0,MemStyles.DATA_FRAME,description of file_name_1.csv
9,file_name_2.csv,file,1,MemStyles.DATA_FRAME,description of file_name_2.csv
10,file_name_1.csv,file,0,MemStyles.DATA_FRAME,description of file_name_1.csv
11,file_name_2.csv,file,1,MemStyles.DATA_FRAME,description of file_name_2.csv
12,file_name_1.csv,file,0,MemStyles.DATA_FRAME,description of file_name_1.csv
13,file_name_2.csv,file,1,MemStyles.DATA_FRAME,description of file_name_2.csv
14,AAPL,arctic,isharp/AAPL,MemStyles.DATA_FRAME,don't know yet
15,MSFT,arctic,isharp/MSFT,MemStyles.DATA_FRAME,don't know yet
16,ORCL,arctic,isharp/ORCL,MemStyles.DATA_FRAME,don't know yet
17,PRU,arctic,isharp/PRU,MemStyles.DATA_FRAME,don't know yet
18,RR,arctic,isharp/RR,MemStyles.DATA_FRAME,don't know yet
19,SDR,arctic,isharp/SDR,MemStyles.DATA_FRAME,don't know yet
20,TSCO,arctic,isharp/TSCO,MemStyles.DATA_FRAME,don't know yet
21,VOD,arctic,isharp/VOD,MemStyles.DATA_FRAME,don't know yet

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-07-10,190.710007,191.279999,190.179993,190.350006,187.495941,15939100
2018-07-11,188.500000,189.779999,187.610001,187.880005,185.062973,18831500
2018-07-12,189.529999,191.410004,189.309998,191.029999,188.165741,18041100
2018-07-13,191.080002,191.839996,190.899994,191.330002,188.461243,12513900
2018-07-16,191.520004,192.649994,190.419998,190.910004,188.047531,15043100
2018-07-17,189.750000,191.869995,189.199997,191.449997,188.579453,15534500
2018-07-18,191.779999,191.800003,189.929993,190.399994,187.545181,16393400
2018-07-19,189.690002,192.550003,189.690002,191.880005,189.003006,20286800
2018-07-20,191.779999,192.429993,190.169998,191.440002,188.569595,20676200
2018-07-23,190.679993,191.960007,189.559998,191.610001,188.737030,15989400
2018-07-24,192.449997,193.660004,192.050003,193.000000,190.106216,18697900
2018-07-25,193.059998,194.850006,192.429993,194.820007,191.898926,16709900
2018-07-26,194.610001,195.960007,193.610001,194.210007,191.298080,19076000
2018-07-27,194.990005,195.190002,190.100006,190.979996,188.116501,24024000
2018-07-30,191.899994,192.199997,189.070007,189.910004,187.062546,21029500
2018-07-31,190.300003,192.139999,189.339996,190.289993,187.436829,39373000
2018-08-01,199.130005,201.759995,197.309998,201.500000,198.478760,67935700
2018-08-02,200.580002,208.380005,200.350006,207.389999,204.280457,62404000
2018-08-03,207.029999,208.740005,205.479996,207.990005,204.871445,33447400
2018-08-06,208.000000,209.250000,207.070007,209.070007,205.935257,25425400
2018-08-07,209.320007,209.500000,206.759995,207.110001,204.004639,25587400
2018-08-08,206.050003,207.809998,204.520004,207.250000,204.142532,22525500
2018-08-09,209.529999,209.779999,207.199997,208.880005,205.748108,23492600
2018-08-10,207.360001,209.100006,206.669998,207.529999,205.135254,24611200
2018-08-13,209.309998,210.949997,207.699997,208.869995,206.459793,25890900
2018-08-14,210.160004,210.559998,208.259995,209.750000,207.329651,20748000
2018-08-15,209.220001,210.740005,208.330002,210.240005,207.813995,28807600
2018-08-16,211.750000,213.809998,211.470001,213.320007,210.858459,28500400
2018-08-17,213.440002,217.949997,213.160004,217.580002,215.069290,35427000
2018-08-20,218.100006,219.179993,215.110001,215.460007,212.973755,30287700
...,...,...,...,...,...,...
2019-05-29,176.419998,179.350006,176.000000,177.380005,177.380005,28481200
2019-05-30,177.949997,179.229996,176.669998,178.300003,178.300003,21218400
2019-05-31,176.229996,177.990005,174.990005,175.070007,175.070007,27043600
2019-06-03,175.600006,177.919998,170.270004,173.300003,173.300003,40396100
2019-06-04,175.440002,179.830002,174.520004,179.639999,179.639999,30968000
2019-06-05,184.279999,184.990005,181.139999,182.539993,182.539993,29773400
2019-06-06,183.080002,185.470001,182.149994,185.220001,185.220001,22526300
2019-06-07,186.509995,191.919998,185.770004,190.149994,190.149994,30684400
2019-06-10,191.809998,195.369995,191.619995,192.580002,192.580002,26220900
2019-06-11,194.860001,196.000000,193.600006,194.809998,194.809998,26932900
2019-06-12,193.949997,195.970001,193.389999,194.190002,194.190002,18253200
2019-06-13,194.699997,196.789993,193.600006,194.149994,194.149994,21674600
2019-06-14,191.550003,193.589996,190.300003,192.740005,192.740005,18761500
2019-06-17,192.899994,194.960007,192.169998,193.889999,193.889999,14669100
2019-06-18,196.050003,200.289993,195.210007,198.449997,198.449997,26551000
2019-06-19,199.679993,199.880005,197.309998,197.869995,197.869995,21124200
2019-06-20,200.369995,200.610001,198.029999,199.460007,199.460007,21514000
2019-06-21,198.800003,200.850006,198.149994,198.779999,198.779999,47800600
2019-06-24,198.539993,200.160004,198.169998,198.580002,198.580002,18220400
2019-06-25,198.429993,199.259995,195.289993,195.570007,195.570007,21070300
2019-06-26,197.770004,200.990005,197.350006,199.800003,199.800003,26067500
2019-06-27,200.289993,201.570007,199.570007,199.740005,199.740005,20899700
2019-06-28,198.679993,199.500000,197.050003,197.919998,197.919998,31110600
2019-07-01,203.169998,204.490005,200.649994,201.550003,201.550003,27316700
2019-07-02,201.410004,203.130005,201.360001,202.729996,202.729996,16935200
2019-07-03,203.279999,204.440002,202.690002,204.410004,204.410004,11362000
2019-07-05,203.350006,205.080002,202.899994,204.229996,204.229996,17265500
2019-07-08,200.809998,201.399994,198.410004,200.020004,200.020004,25338600
2019-07-09,199.199997,201.509995,198.809998,201.240005,201.240005,20560300
2019-07-10,201.850006,203.720001,201.589996,203.119995,203.119995,4948351

NameError: name 'release' is not defined